@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .font-outline-2 {
        text-shadow:
            -5px 5px 0 #000,
            0px -1px 0 #000,
            -1px 1px 0 #000,
            0px 1px 0 #000;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }

    .shadowAuth {
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
    }

    .gradientTransparent {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
}