

@keyframes ldio-5mb0o3lg2w4 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-5mb0o3lg2w4 div {
  position: absolute;
  animation: ldio-5mb0o3lg2w4 1s linear infinite;
  width: 84px;
  height: 84px;
  top: 58px;
  left: 58px;
  border-radius: 50%;
  box-shadow: 0 5.800000000000001px 0 0 #85a2b6;
  transform-origin: 42px 44.9px;
}
.loadingio-spinner-eclipse-ylbn5k3vu3 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-5mb0o3lg2w4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5mb0o3lg2w4 div { box-sizing: content-box; }
